---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
---

{{title}}

{{#extend "lyt-default"}}
	{{#content "main"}}

		<h2>{{menuLink}}</h2>

		<h3>{{config.test}}</h3>

		{{#each tester.data}}
			<h4>{{name}}</h4>
			<p>{{content}}</p>
		{{/each}}

		{{#with config}}
			{{> k-tester}}
		{{/with}}

		{{! WrapWith START:  }}
		{{#times 5}}
			test {{random}}
		{{/times}}
		{{! WrapWith END:  }}

	{{/content}}
{{/extend}}

